body {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: gray;

}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  margin: 0 10px;
}

li span:last-child {
    margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.1s;

  display: inline-block;
  border: 2px solid rgba(214, 214, 214, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 8px;
  background-color: rgba(207, 221, 255, 0.19);
  transition: scale 0.3s;
}


a:hover {
  text-decoration: none;
  scale: 120%;
}