<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="menu.css" />
    <base target="_parent">
  </head>
  <body class="glass">
    <ul class="prevent-select">
      <li><a href="/">WhiteFog<span></span></a></li>
      <li><a href="/blogs">Blogs<span></span></a></li>
      <li><a href="/gallery">Gallery<span></span></a></li>
      <li><a href="/about">About<span>󰠗</span></a></li>
    </ul>
  </body>
</html>
