<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="menu.css" />
    <base target="_parent">
  </head>
  <body>
    <ul>
      <li><a href="/">WhiteFog</a><span></span></li>
      <li><a href="/blogs">Blogs</a><span></span></li>
      <li><a href="/gallery">Gallery</a><span></span></li>
      <li><a href="/about">About</a><span>󰠗</span></li>
    </ul>
  </body>
</html>
