@font-face {
  font-family: comic-shanns;
  src: url("/fonts/ComicShannsMonoNerdFont-Regular.otf");
}

@font-face {
  font-family: monofur;
  src: url("/fonts/MonofurNerdFontMono-Regular.ttf");
}

@font-face {
  font-family: symbols;
  src: url("/fonts/SymbolsNerdFont-Regular.ttf");
}

* {
  font-family: comic-shanns;
}

hr {
  color: rgb(215, 215, 215);
}

body {
  background-image: url("/images/sky.png");
  background-repeat: repeat;
  color: #eaedf0;
  margin: 0;
}

p {
  text-align: justify;
}

#top-menu {
  width: 100%;
  height: 97px;
}

#main-content {
  margin: 20px 200px;
  padding: 20px 40px;
  font-size: 1.4em;
  color: rgb(255, 255, 255);

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (width > 390px) and (width <= 770px) {
  #top-menu {
    height: 162px;
  }
}

@media (width <= 390px) {
  #top-menu {
    height: 290px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
