@font-face {
  font-family: open-dyslexic;
  src: url("/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open-dyslexic;
  src: url("/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: open-dyslexic;
  src: url("/fonts/OpenDyslexic-Italic.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: open-dyslexic;
  src: url("/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2"),
    url("/fonts/OpenDyslexic-Bold-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

input, textarea, button, option, select {
  background-color: #abb2bf;
  color: #282c34;
}

a {
  color: #678dd9
}

a:visited {
  color: #3f5f9f
}

mark {
  background-color: #abb2bf;
  color: #282c34;
}

body {
  background-color: F0F0F0;
  background-color: #282c34;
  color: #abb2bf;
  font-size: 1.5em;
  margin: 0;
  font-family: open-dyslexic;
}

@media only screen and (min-width: 1000px){
  body {
    margin: 0 200px;
  }
}

.center-text {
  text-align: center;
}

.red {
  color: #dc3545;
}

.green {
  color: #27a444;
}

.yellow {
 color: #ffc107;
}

.blue {
  color: #007bff;
}