/* Classes */

.image-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.image-right {
    display: block;
    float: right;
}

/* Fixes */

a[role="menuitem"] {
    color: black;
}

a[role="menuitem"]:hover {
    color: black;
    text-decoration: none;
}

body {
    background-size: cover;
    background-repeat: space;
}

#main-window {
    font-size: 1.2rem;
}

#main-window .window-body {
    width: 700px;
    height: 500px;
}

#main-window .window-body div:first-of-type {
    padding: 10px;
}

#main-window .window-body div:first-of-type *:first-child {
    margin-top: 0;
}

#main-window .window-body div:first-of-type *:last-child {
    margin-bottom: 0;
}

@media (max-width: 700px) {
    #main-window {
        font-size: 0.9rem;
        margin: 0 15px;
    }

    #main-window .window-body {
        width: auto;
    }

    #main-window .status-bar {
        font-size: 0.6rem;
    }
}

#frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 95vh;
}

.window-body {
    overflow-y: auto;
}

ul[role="menubar"] {
    top: 0;
    position: sticky;
}